#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer{
            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &kp T        
                &kp A   &kp S   &kp D   &kp F   &kp G        
                &kp Z   &kp X   &kp C   &kp V   &kp B   &kp DASH
                &kp ESC  &kp TAB  &kp CMD  &kp LSHIFT  &kp BSPC
                &kp P  &kp O  &kp I  &kp U  &kp Y
                &kp H &kp J &kp K &kp L &kp SEMI
                &kp FLSH &kp DOT   &kp COMMA   &kp M   &kp N   &kp BSLH
                &kp RET   &kp SQT   &kp MINUS   &none   &kp SPACE                      
   
            
            >;
        };

     //   bt_layer {
     //       bindings = <
     //           &none
     //       >;
     //   };
    };
};