#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer{
            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &kp T
                &kp A   &kp S   &kp D   &kp F   &kp G
                &kp Z   &kp X   &kp C   &kp V   &kp B   &kp TILDE
                &kp ESC &kp TAB &kp S   &kp LSHIFT  &kp SPACE
                &kp P   &kp O   &kp I   &kp U   &kp Y
                &kp SEMI   &kp L   &kp K   &kp J   &kp H
                &kp FSLH    &kp DOT &kp COMMA   &kp M   &kp N   &kp BSLH
                &kp RET &kp SQT &kp MINUS   &tog 1   &kp BSPC
            >;
        };

        lower_layer {
            bindings = <
                &kp N0   &kp N1   &kp N2   &kp N3   &kp N4
                &kp A   &kp Q   &kp W   &kp E   &kp R
                &kp LSHIFT  &kp A   &kp S   &kp D   &kp B   &kp TILDE
                &kp LCTRL &kp TAB &tog 1   &kp LSHIFT  &kp SPACE
            >;
        };
    };
};